.top-nav {
    background-color: white;
    overflow: hidden;
    margin: 0px;
    letter-spacing: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 10;
}

@media screen and (max-width: 412px) and (max-height: 915px) {
    .top-nav {
        display: auto;
        height: 50px;
        width: 95%;

    }
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 15px 16px;
    overflow: hidden;
    float: right;

}

@media screen and (max-width: 412px) and (max-height: 915px) {
    .nav-list {
        display: none;
        float: none;

    }
}

body {
    margin: 0px;
}

.cl {
    font-size: 15px;
    margin-left: -5px;
    color: grey;
    font-weight: 100;
}

@media screen and (max-width: 412px) and (max-height: 915px) {
    .cl {
        display: none;
        color: transparent;
        opacity: 0.7;

    }

}

.top-nav p {
    float: left;
    color: #000000;
    padding: 15px 16px;
    margin: 0px;
    font-size: 20px;
    text-align: center;
}

.top-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 15px 16px;
    overflow: hidden;
    float: right;
}

.top-nav ul li {
    float: left;
    margin: 0px 5px;
}

.container {
    margin-top: -10px;
}

.banner {
    background-repeat: no-repeat;
    object-fit: contain;
    width: 100%;
    height: 700px;
}

.banner-image {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 412px) and (max-height: 915px) {
    .banner {
        background-repeat: no-repeat;
        object-fit: contain;
        width: 100%;
        height: auto;
    }
}

.banner p {
    color: rgb(255, 252, 252);
    letter-spacing: 4px;
    font-size: 30px;
    font-weight: 400;
    margin: 10px 0px;
    box-sizing: inherit;
    text-align: center;
    line-height: 1.5;
    padding: 0px 0px;
    text-size-adjust: 100%;
    position: absolute;
    top: 380px;
    left: 50%;
    transform: translate(-50%, 50%);
}

.banner p b {
    background-color: rgba(0, 0, 0, 0.678);
    text-align: center;
    padding: 7px 17px;
    font-size: xx-large;
    color: white;
}

.content {
    max-width: 1564px;
    padding: 8px 16px;
    font-family: verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    position: relative;
}

.project {
    padding-top: 32px;
    padding-bottom: 20px;
    margin: 10px 40px;
}

.h3-a {
    letter-spacing: 3px;
    margin-left: 29.8px;
}

.line {
    border: 0;
    border-top: 1px solid rgb(194, 175, 175);
    margin: 28.9px;
    opacity: 0.50;
}

.container.x {
    margin-top: 10px;
    margin-left: 40px;
    height: auto;
    /* keep aspect ratio */
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100px;
    margin-right: 40px;
    padding: 3px 0;
}

.project-content {
    position: relative;
    margin-left: 10px;
}

@media screen and (max-width: 412px) and (max-height: 915px) {
    .project-content {
        display: relative;
        grid-template-columns: 1fr;
        float: center;
        margin-bottom: 7px;

    }
}

.project-badge {
    font-family: Verdana, sans-serif;
    color: white;
    background-color: black;
    display: block;
    padding: 10px 14px !important;
    position: absolute;
    top: -20px;
    left: 0;
}


.project-badge:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.project-image {
    width: 100%;
    object-fit: relative;
    display: grid;

}

@media screen and (max-width: 412px) and (max-height: 915px) {
    .project-image {
        display: grid;
        grid-template-columns: auto;

    }
}

.About {
    padding-top: 32px;
    padding-bottom: 20px;
    margin: 10px 40px;

}

.rel {
    letter-spacing: 0px;
    margin-left: -8px;
    font-size: x-large;
}

.line-x {
    border: 0;
    border-top: 1px solid rgb(194, 175, 175);
    opacity: 0.50;
    margin-left: -8px;

}

.container-fx {
    margin-top: 10px;
    margin-left: 16px;
    height: auto;
    /* keep aspect ratio */
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-right: 40px;
    padding: 3px 0;
    overflow: hidden;
}

@media screen and (max-width: 412px) and (max-height: 915px) {
    .container-fx {
        display: grid;
        grid-template-columns: 1fr;
        float: center;
        margin-bottom: 5px;
    }
}

.team-container {
    margin: 10px 8px;
}

@media screen and (max-width: 412px) and (max-height: 915px) {
    .team-container {
        margin-right: 5px;
    }
}

.team-banner {
    filter: grayscale(80%);
    background-repeat: no-repeat;
    object-fit: contain;
    width: 310px;
    height: 200px;
    opacity: 1.4;
}

.team-name {
    font-family: Verdana, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    text-decoration-thickness: 6px;
}

.team-role {
    opacity: 0.60;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    width: 300px;
}

.team-button {
    font-size: 30px 70px;
    line-height: 1.5;
    background-color: rgb(223, 218, 218);
    color: black;
    border: 1px solid rgb(194, 175, 175);
    border-spacing: 20px;
    border: none;
    display: inline-block;
    padding: 8px 125px;
    vertical-align: auto;
    width: 310px;
    overflow: hidden;
}

@media screen and (max-width: 412px) and (max-height: 915px) {
    .team-button {
        font-size: 20px 40px;
        line-height: 1.5;
        background-color: rgb(223, 218, 218);
        color: black;
        border: 1px solid rgb(194, 175, 175);
        border-spacing: 20px;
        border: none;
        display: inline-block;
        padding: 10px 80px;
        vertical-align: auto;
        width: 200px;
        overflow: hidden;
        text-align: center;
        margin-left: 25px;
    }
}

.team-button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.team-description {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}


.bee {
    margin-left: -14px;
    padding: 15px;
    font-family: Verdana, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    text-decoration-thickness: 6px;
    margin-top: 30px;
}

.bee-1 {
    opacity: 0.60;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    margin-left: -5px;
    margin-top: 20px;
    width: 300px;
}

.bee-2 {
    margin-left: -5px;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

.bee-3 {
    font-size: 30px 70px;
    line-height: 1.5;
    background-color: rgb(223, 218, 218);
    color: black;
    margin-left: -5px;
    border: 1px solid rgb(194, 175, 175);
    border-spacing: 20px;
    border: none;
    display: inline-block;
    padding: 8px 125px;
    vertical-align: middle;
    overflow: hidden;
}

.txt {
    margin-top: 10px;
    border-left: -8px;
}

.content-y {
    max-width: 1564px;
    padding: 8px 16px;
    font-family: verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    position: relative;

}

.content-3 {
    padding-top: 32px;
    padding-bottom: 20px;
    margin: 10px 40px;
}

.boo {
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: x-large;
    margin-left: -5px;
}

.line-y {
    border: 0;
    border-top: 1px solid rgb(194, 175, 175);
    opacity: 0.50;
    margin-left: -8px;
}

.container-4 {
    margin-top: -10px;
}

@media screen and (max-width: 412px) and (max-height: 915px) {
    .container-4 {
        display: grid;
        grid-template-columns: 1fr;
        float: center;
        margin-bottom: 5px;
        margin-left: -5px;

    }

}

.txt- {
    margin-left: 20px;
}

.txt-2 {
    margin-left: 43px;
    margin-top: -23px;
    border-left: -8px;
    font-family: verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

.cv {
    margin-left: 43px;
    margin-top: 10px;
    position: relative;
    border-left: -15px;
    font-family: verdana, sans-serif;
    font-size: 15px;
    padding: 6px 10px;
    line-height: 1.5;
    background-color: white;
    color: black;
    margin-right: 52px;
    border: 1px solid rgb(194, 175, 175);
    border-spacing: 20px;
    cursor: pointer;
    width: 90%;
}



.send {
    margin-left: 43px;
    margin-top: 22px;
    border-left: -15px;
    font-family: verdana, sans-serif;
    font-size: 15px;
    padding: 6px;
    line-height: 1.5;
    background-color: black;
    color: white;
    margin-right: 52px;
    border: 1px solid rgb(194, 175, 175);
    border-spacing: 20px;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
}

.send:hover {
    background-color: rgb(160, 152, 152);
    color: black;
    cursor: pointer;
}

.map {
    background-repeat: no-repeat;
    object-fit: contain;
    margin-left: 43px;
    margin-top: 30px;
    width: 95%;
    height: 700px;
}

.map-image {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 412px) and (max-height: 915px) {
    .map-image {
        margin-right: 10px;
        background-repeat: no-repeat;
        object-fit: contain;
        width: 85%;
        height: auto;
    }
}

.footer {
    text-align: center;
    padding: 32px;
    background-color: rgba(5, 5, 5, 0.938);
    margin-top: 70px;
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 0px;
}

.p {
    letter-spacing: -3px;
}

.w3-css {
    text-decoration: underline;
    color: black;
}

.w3-css:hover {
    color: green;
}